body {
  text-align: center;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #333; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #333, #fff, #333); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #333, #fff, #333); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #333, #fff, #333); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #333, #fff, #333); /* Standard syntax */
  background-repeat: no-repeat;
}

a {
  color: #00B7FF;
}
